.mainCardHolder {
    aspect-ratio: 19/26;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 350px;
    perspective: 1000px;
    position: relative;

    &.sithCard {
        background: linear-gradient(110deg, #650000 0%, #000000 100%);
    }

    &.jediCard {
        background: linear-gradient(110deg, #007624 0%, #000000 80%);
    }

    .flipCardInner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;

        .flipCardFront {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;

            .logo {
                position: absolute;
                top: -12.5px;
                left: 50%;
                transform: translateX(-50%);
                width: 30%;
            }

            .cardPictureHolder {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0.75rem;
                width: 100%;

                .personalPhotoFront {
                    width: 100%;
                    aspect-ratio: 3/4;
                    border: 1px solid #707070;
                    border-bottom: none;
                    border-radius: 15px 15px 0 0;
                    object-fit: cover;
                    object-position: top;
                }

                .cardName {
                    border: 1px solid #707070;
                    padding: 0.5rem;
                    line-height: 15px;
                    font-size: 10px;
                    width: 100%;
                    border-radius: 0 0 15px 15px;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }

        .flipCardBack {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            transform: rotateY(180deg);

            .cardDetails {
                color: white;
                padding: 1rem;

                .backCardFoto {
                    width: 60%;

                    .personalPhotoFrontBack {
                        max-height: 150px;
                        border-radius: 15px;
                        border: 1px solid #707070;
                        object-fit: cover;
                        object-position: top;
                        aspect-ratio: 1/1;
                        width: 100%;
                    }
                }

                li {
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    margin-bottom: 0.5rem;
                    list-style: none;

                    .cardText {
                        font-size: 12px;
                        color: #707070;
                    }
                }

                .cardButton {
                    font-family: 'Orbitron', sans-serif;
                    padding: 0.5rem 1rem;
                    color: white;
                    background-color: transparent;
                    border: 1px solid #707070;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: all 500ms;

                    &:hover {
                        background: white;
                        color: black;
                    }
                }

                &.disable .cardButton {
                    background: gray;
                    cursor: not-allowed;
                }
            }
        }
    }

    &:hover .flipCardInner {
        transform: rotateY(180deg);
    }

    .flipCardInner.noRotation {
        transform: none !important;
    }

    .flipCardFront.noRotation {
        pointer-events: none;
    }

    .flipCardBack.hidden {
        display: none !important;
    }
}