.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;

    h1 {}

    input {
        border: none;
        color: black;
        width: 250px;
        height: 25px;
        border-radius: 10px;

        &::placeholder {
            padding-left: 1rem;
            font-size: 10px;
        }
    }
}

.mainGrid {
    display: grid;
    justify-content: left;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
}

.navigation {}