.layout {
    min-height: 100vh;
    background-image: "../assets/background.png";
    text-align: center;

    .teamHolder {
        padding-top: 6.5rem;
        position: absolute;
        right: 0;
        top: 0
    }
}