.mainHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .myTeam {
        text-decoration: underline;
    }

    .inTeamHolder {
        padding: 0.5rem 1rem;
        width: 100%;
        border: 1px solid #707070;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.sith {
            background: linear-gradient(110deg, #650000 0%, #000000 98%);
        }

        &.jedi {
            background: linear-gradient(110deg, #007624 0%, #000000 98%);
        }

        .imageHolder {
            width: 4rem;
            height: 2rem;
            aspect-ratio: 1/1;


            .image {
                border: 1px solid #707070;
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .name {
            font-size: 10px;
            color: #707070;
        }

        .deleteHolder {
            width: 1rem;
        }
    }
}